.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: repeating-linear-gradient(rgb(213, 234, 241), rgb(219, 189, 194), rgb(227, 183, 167));
}
#inputboxes{
height: 80px;
width: 400px;
box-sizing: border-box;
padding-top: 25px;
font-size: medium;
font-weight: 500;
background-color: cornflowerblue;
border-radius: 10px ;
margin: 10px;
}
.wrapinputs{
  display: flex;
  flex-wrap: wrap;
}

